[project]
	description = C Minimal Perfect Hashing Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joshua Rubin (joshuarubin)
[access "refs/for/refs/*"]
	read = group user/Joshua Rubin (joshuarubin)
	push = group user/Joshua Rubin (joshuarubin)
	label-Code-Review = -2..+2 group user/Joshua Rubin (joshuarubin)
	label-Verified = -1..+1 group user/Joshua Rubin (joshuarubin)
	rebase = group user/Joshua Rubin (joshuarubin)
	removeReviewer = group user/Joshua Rubin (joshuarubin)
	submit = group user/Joshua Rubin (joshuarubin)
[access "refs/heads/*"]
	read = group user/Joshua Rubin (joshuarubin)
	create = group user/Joshua Rubin (joshuarubin)
	push = +force group user/Joshua Rubin (joshuarubin)
	pushMerge = group user/Joshua Rubin (joshuarubin)
[access "refs/tags/*"]
	push = +force group user/Joshua Rubin (joshuarubin)
	pushTag = group user/Joshua Rubin (joshuarubin)
	pushSignedTag = group user/Joshua Rubin (joshuarubin)
